In [1]:
import pandas as pd

# 1 Read a .csv from a URL with Pandas

##### Target website: https://www.football-data.co.uk/data.php

In [3]:
# reading 1 csv file from the website
df_premier21 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [4]:
# showing dataframe
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [5]:
# rename columns
df_premier21.rename(columns={'FTHG': 'home_goals',
                             'FTAG': 'alway_goals'}, inplace=True)

In [6]:
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,alway_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

# 2 Read .csv from Multiple URLs with Pandas

##### https://www.football-data.co.uk/mmz4281/2425/E0.csv

##### Link: root + season + league

In [7]:
# link structure
"https://www.football-data.co.uk/mmz4281/" + "2122" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2122/E0.csv'

In [8]:
# create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

## 2.1 Multiple Leagues

https://www.football-data.co.uk/mmz4281/2122/E0.csv
https://www.football-data.co.uk/mmz4281/2122/E1.csv
https://www.football-data.co.uk/mmz4281/2122/E2.csv
https://www.football-data.co.uk/mmz4281/2122/E3.csv
https://www.football-data.co.uk/mmz4281/2122/EC.csv

In [16]:
# creating list of leagues
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']

frames = []
# looping through leagues, read multiple csv and append it into a list
for league in leagues:
    df = pd.read_csv( root + '2425' + '/' + league + '.csv')
    frames.append(df)

In [14]:
# length of frames
len(frames)

5

In [18]:
# show 1st, 2nd and 3rd element
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,10/08/2024,15:00,Aldershot,Forest Green,3,3,D,2,1,...,1.83,1.98,1.87,1.99,1.87,2.00,1.83,1.99,1.88,2.02
1,EC,10/08/2024,15:00,Altrincham,Woking,1,0,H,1,0,...,1.83,1.98,1.83,2.04,1.85,2.04,1.82,1.95,1.86,2.14
2,EC,10/08/2024,15:00,Boston Utd,Rochdale,0,3,A,0,2,...,1.85,1.95,1.88,1.98,1.88,1.98,1.84,1.93,1.92,2.00
3,EC,10/08/2024,15:00,Dag and Red,Wealdstone,2,1,H,0,0,...,1.90,1.90,1.89,1.95,1.91,1.95,1.87,1.88,1.91,2.06
4,EC,10/08/2024,15:00,Fylde,Solihull,3,2,H,1,2,...,1.78,2.03,1.76,2.10,1.80,2.10,1.76,2.01,1.80,2.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,EC,05/05/2025,15:00,Maidenhead,Boston Utd,3,0,H,1,0,...,1.80,2.00,1.80,2.07,1.81,2.07,1.77,2.02,1.83,2.13
548,EC,05/05/2025,15:00,Oldham,Ebbsfleet,2,0,H,1,0,...,1.85,1.95,1.88,1.98,1.90,1.98,1.87,1.91,1.94,1.90
549,EC,05/05/2025,15:00,Solihull,Dag and Red,1,1,D,0,1,...,1.98,1.83,1.96,1.89,1.98,1.89,1.95,1.84,2.02,1.91
550,EC,05/05/2025,15:00,Sutton,Woking,1,1,D,0,1,...,1.95,1.85,1.93,1.93,1.95,1.93,1.93,1.84,2.01,1.96
551,EC,05/05/2025,15:00,Wealdstone,Halifax,3,1,H,3,0,...,2.03,1.78,2.07,1.80,2.07,1.81,2.01,1.78,2.12,1.72

## 2.2 Multiple Seasons

In [19]:
# eg.
for season in range(15, 21):
    print(str(season) + str(season+1))

1516
1617
1718
1819
1920
2021

In [21]:
# creating list of leagues
leagues = ['E0', 'E2', 'E3']
frames = []

# loop through range of seasons and insert new column
for league in leagues:
    for season in range(15, 21):
        df = pd.read_csv(f"{root}{season}{season+1}/{league}.csv")
        df.insert(1, 'season', season)
        frames.append(df)

In [22]:
# total frames (6 seasons x 3 leagues)
len(frames)

18

In [24]:
# show 1st, and last element (new season column was created)
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,20,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,...,1.76,-0.25,1.95,1.90,1.93,1.98,1.98,1.99,1.91,1.92
1,E3,20,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,...,1.79,-0.25,2.02,1.83,2.04,1.87,2.09,1.90,2.00,1.83
2,E3,20,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,...,1.65,-0.25,2.07,1.72,2.11,1.82,2.20,1.82,2.09,1.76
3,E3,20,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,...,1.70,-0.25,1.98,1.88,2.02,1.88,2.04,1.90,1.99,1.84
4,E3,20,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,...,1.75,-0.50,1.83,2.02,1.87,2.04,1.88,2.09,1.83,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,20,08/05/2021,15:00,Port Vale,Mansfield,0,3,A,0,...,1.84,0.25,1.90,1.95,1.89,2.00,1.95,2.07,1.85,1.97
548,E3,20,08/05/2021,15:00,Scunthorpe,Stevenage,0,1,A,0,...,1.73,0.50,1.80,2.05,1.84,2.06,1.87,2.14,1.77,2.07
549,E3,20,08/05/2021,15:00,Southend,Newport County,1,1,D,1,...,1.44,0.50,1.93,1.93,1.94,1.94,1.97,1.97,1.91,1.91
550,E3,20,08/05/2021,15:00,Tranmere,Colchester,0,0,D,0,...,1.59,-0.75,2.05,1.80,2.05,1.85,2.08,1.89,2.01,1.82
551,E3,20,08/05/2021,16:00,Salford,Leyton Orient,3,0,H,1,...,1.87,-1.00,1.98,1.88,1.99,1.90,2.01,1.96,1.96,1.86

# 3 Organize All The Data in a Dictionary

In [25]:
# create a dictionary with original name of legue as key
dict_countries = {
                'Spanish La Liga':'SP1', 
                'Spanish Segunda Division':'SP2',
                'German Bundesliga':'D1', 
                'English Premier League':'E0', 
                'English League 1':'E2', 
                'English League 2':'E3',
            }

In [26]:
# get a dictionary element
dict_countries['Spanish La Liga']

'SP1'

In [ ]:
# This will hold the combined historical data for each league
dict_historical_data = {}

# Loop over each league name in the dictionary
for league in dict_countries:
    frames = [] # List to store DataFrames for each season of the current league

    # Loop over the seasons from 2015 to 2020
    for season in range(15, 21):
        df= pd.read_csv(f"{root}{season}{season+1}/{dict_countries[league]}.csv")
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [31]:
# show dataframe inside dict_historical_data
dict_historical_data['English League 1']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,15,08/08/15,Burton,Scunthorpe,2.0,1.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E2,15,08/08/15,Chesterfield,Barnsley,3.0,1.0,H,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E2,15,08/08/15,Colchester,Blackpool,2.0,2.0,D,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E2,15,08/08/15,Coventry,Wigan,2.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E2,15,08/08/15,Crewe,Port Vale,0.0,0.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,20,09/05/2021,Milton Keynes Dons,Rochdale,0.0,3.0,A,0.0,0.0,...,2.56,-0.75,1.88,1.98,1.88,2.01,1.96,2.04,1.87,1.97
548,E2,20,09/05/2021,Oxford,Burton,4.0,0.0,H,2.0,0.0,...,2.38,-1.00,1.85,2.00,1.88,2.02,2.11,2.06,1.88,1.95
549,E2,20,09/05/2021,Portsmouth,Accrington,0.0,1.0,A,0.0,1.0,...,2.21,-1.00,1.95,1.90,1.99,1.90,2.07,1.94,1.95,1.88
550,E2,20,09/05/2021,Sunderland,Northampton,1.0,1.0,D,0.0,0.0,...,2.13,-1.25,1.98,1.88,2.02,1.88,2.10,1.91,2.01,1.83
551,E2,20,09/05/2021,Wigan,Swindon,3.0,4.0,A,1.0,0.0,...,2.28,-0.75,1.93,1.93,2.00,1.88,2.01,1.97,1.93,1.90