# 1 The re module

In [1]:
import re

## 1.1 re.search()

In [4]:
text = """Hello World.
I love Python!!!!!
My first lucky number is 987-654-321
My second lucky number is 876-543-210
My third lucky number is 765-432-100
My fourth lucky number is 123-456-123-123-456
"""

In [5]:
# return the first match
re.search(r'\d', text)

In [7]:
# flags
re.search(r'^hello', text, flags=re.I)

# 2 re.findall()

In [9]:
# return all the matches
re.findall(r'\d', text)

['9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6']

# 3 Exercises

In [10]:
# Match only punctuation
text = """Hello World.
I love Python!!!!!
My first lucky number is 987-654-321
My second lucky number is 876-543-210
My third lucky number is 765-432-100
My fourth lucky number is 123-456-123-123-456
"""
re.findall(r'[^\w\s]', text)

['.',
 '!',
 '!',
 '!',
 '!',
 '!',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [12]:
# Match right date format (MM-DD-YYYY)
text = '''
13-04-2021
2021-13-04
2021-04-13
'''
re.findall(r'\d{2}-\d{2}-\d{4}', text)

['13-04-2021']

In [13]:
# Match right username format (4-14 characters and only letters or digits)
text = '''
username10
abc
10
'''
re.findall(r'[a-zA-Z0-9]{4,14}', text)

['username10']