In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age','dob', 'height_cm',	'weight_kg', 'nationality', 'club']]

In [3]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## 1 Sample()

In [4]:
# extract 10 random elements from the "nationality" column
df['nationality'].sample(10)

short_name
D. Murillo       Colombia
Sun Shoubo       China PR
L. Zanon            Italy
K. Harris         England
A. Matri            Italy
D. Takagi           Japan
L. Zottele        Austria
P. Owusu          Germany
M. Almeida         Sweden
Gerard Moreno       Spain
Name: nationality, dtype: object

In [5]:
# extract a random 20% sample of the dataframe
df.sample(frac=0.2)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Narcisso Mau,Narcisso Elias Mau de Faria,31,1988-02-29,177,72,Brazil,Ceará Sporting Club
F. Flores,Francisco Javier Flores Ibarra,25,1994-01-17,176,67,Mexico,Tiburones Rojos de Veracruz
A. Al Mayoof,Abdullah Al Mayoof,32,1987-01-23,189,96,Saudi Arabia,Al Hilal
Afonso Figueiredo,Afonso Rebeiro Figueiredo,26,1993-01-06,171,64,Portugal,CD Aves
A. Manneh,Alasana Manneh,21,1998-04-08,170,68,Gambia,Górnik Zabrze
...,...,...,...,...,...,...,...
J. Solano,Jefferson Solano,23,1996-02-24,172,68,Colombia,Cúcuta Deportivo
Fran Mérida,Francisco Mérida Pérez,29,1990-03-04,177,74,Spain,CA Osasuna
R. Wolski,Rafał Wolski,26,1992-11-10,180,70,Poland,Lechia Gdańsk
Idris,Idrissa Mandiang,34,1984-12-27,189,83,Senegal,Boavista FC
H. Cardwell,Harry Cardwell,22,1996-10-28,188,72,Scotland,Grimsby Town

In [6]:
# upsample: increase the sampling rate -> frac>1 (Note: replace patameter has to be True for frac parameter > 1)
df.sample(frac=2, replace=True, random_state=99)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Hauptmeijer,Mike Hauptmeijer,22,1997-03-18,191,70,Netherlands,PEC Zwolle
A. Mosquera,Andrés Mosquera,29,1990-02-20,182,80,Colombia,Club León
V. Thill,Vincent Thill,19,2000-02-04,172,58,Luxembourg,US Orléans Loiret Football
D. Bouanga,Denis Bouanga,24,1994-11-11,180,70,Gabon,AS Saint-Étienne
S. Al Selouli,Saad Al Selouli,21,1998-05-25,168,57,Saudi Arabia,Ettifaq FC
...,...,...,...,...,...,...,...
M. Connor,Matthew Connor,22,1997-04-08,192,82,Republic of Ireland,Waterford FC
J. Northcott,Jordan Northcott,17,2002-02-09,162,60,Scotland,St. Johnstone FC
A. Bodzek,Adam Bodzek,33,1985-09-07,184,81,Poland,Fortuna Düsseldorf
J. Adebayo-Smith,Jordan Adebayo-Smith,18,2001-01-11,181,77,United States,Lincoln City
F. Mac Allister,Francis Manuel Mac Allister,23,1995-10-30,176,71,Argentina,Argentinos Juniors